@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src:
          url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
          url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
          url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    background: transparent;
}
body {
    line-height: 1.6;
    font-size: 14px;
    color: #4d4d4d;
    position: relative;
    font-family: 'Noto Sans JP', 'News Cycle', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}

.m-video-01 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.m-logo-01 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -14px 0 0 -45px;
    z-index: 3;
    min-height: 100%;
    min-width: 100%;
}

.m-logo-01 img {
    width: 90px;
}

.m-list-01 {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -10px;
    z-index: 4;
    min-height: 100%;
    min-width: 100%;
}

.m-list-01-list {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.m-list-01-item a {
    color: #fbfbfb;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.m-list-01-item a:before {
    position: absolute;
    top: 1.5em;
    left: 0;
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background: #fbfbfb;
    transition: .3s;
}

.m-list-01-item a:hover:before {
    width: 100%;
}

.is-hide {
    display: none;
}
